<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Question Detail</title> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Quyet.di</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">QUYET</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ask">ASK</a>
            </li>
            </ul>
        </div>
    </nav>      
    <div class="container">
        <div class="row text-center" id="text-question" >
            <h1>question_content</h1>
        </div>
        <div class="row text-center " id="text-vote">
            <h3>total Vote vote</h3>
        </div>
        <div class="row text-center">
            <h4>Yes: vote_yes</h4>
        </div>
        <div class="row text-center">
            <h4>No: vote_no</h4>
        </div>
        <div class="row">
            <div id="question_bar" class="col-xs-12 question-bar">
                <div class="result-bar">
                    <div id="question-result-no" class="question-result-no" style="width: 50%">
                        no
                        <span class="fas fa-thumbs-down"></span>
                    </div>
                    <div id="question-result-yes" class="question-result-yes" style="width: 50%">
                        yes
                        <span class="fas fa-thumbs-up"></span>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="myChart" width="400" height="400"></canvas>
        <a href="/"><button class="btn btn-success">change question</button></a>
    </div>
    <script src="../app.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>